@import "tailwindcss";

body {
  background-color: #050505;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Custom utility for 3d transform */
.preserve-3d {
  transform-style: preserve-3d;
}
